.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .form-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-label {
    margin-bottom: 10px;
    display: block;
  }
  
  .form-input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .form-button:hover {
    background-color: #45a049;
  }
  
  .form-button:active {
    background-color: #3e8e41;
  }

  .top-left-button-container {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .top-left-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }